# Binaries
build/bin/
*/bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.zip

# Wails
wailsjs/
frontend/dist/
frontend/node_modules/

# Go
go.sum
vendor/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log



# User Data & Config
config.json
followed.json
Downloads/
cache/